
.header {
    display: flex;
    flex-direction: row;
    /* height: 24px; */
}

.subheader {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 24px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.right-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

.state-content {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.name-bar {
    position: relative;
    padding: 3px;
    font-size: 24px;
    height: 38px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    margin-right: 8px;
    border: 1px solid #787878;
    border-radius: 2px;
    background-color: #0f0f0f;
    transition: border-color 0.2s;
}

.name-bar:hover {
    border-color: #c9c9c9;
}
.name-bar:hover .edit-hint {
    opacity: 1;
}

.name-text {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    border-style: hidden;
    color: #c9c9c9;
    flex-grow: 1;
    flex-shrink: 1;
}

.edit-hint {
    position: absolute;
    top: 6px;
    right: 4px;
    color: #c8c8c8;
    opacity: 0;
    transition: opacity 0.2s;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    pointer-events: none;
}

.sidebar {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 2rem;
}

.grammar-container {
    display: flex;
    flex-direction: column;
}

.input-box {
    background-color: #2b2b2b;
    border: 1px solid #787878;
    border-style: solid;
    color: #c9c9c9;
    flex-grow: 1;
    flex-shrink: 1;
}

.table-container {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    /* display: flex;
    flex-direction: row; */
}

.parser-table {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.stack-container {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.tokens-container {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.token {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 22px;

    outline: 1px solid #787878;
    border-radius: 2px;
    padding: 8px;
    background-color: #2b2b2b;

    transition-property: outline, color, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.token-highlight {
    outline: 2px solid #75e56d;
    color: #23e116;
    text-shadow: 0px 0px 16px #23e116, 0px 0px 16px #23e116, 0px 0px 16px #23e116;
}

.token-highlight-yellow {
    outline: 2px solid #e5db6d;
    color: #e1e116;
    text-shadow: 0px 0px 16px #e1e116, 0px 0px 16px #e1e116, 0px 0px 16px #e1e116;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.stack-item {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 22px;

    outline: 1px solid #787878;
    border-radius: 2px;
    padding: 8px;
    background-color: #2b2b2b;

    transition-property: outline, color, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.stack-item-highlight {
    outline: 2px solid #75e56d;
    color: #23e116;
    text-shadow: 0px 0px 16px #23e116, 0px 0px 16px #23e116, 0px 0px 16px #23e116;
}

@keyframes blink {
    from { outline-width: 1px; }
    to { outline-width: 3px; }
}

.stack-list {
    margin-bottom: 0.4rem;
}

.stack-label {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 22px;
}

.stack-textbox {
    background-color: #2b2b2b;
    border: 1px solid #787878;
    border-style: solid;
    color: #c9c9c9;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 300px;
    margin-left: 1rem;
}

.parser-table th, td {
    padding: 8px;
}

.parser-primary {
    border: 1px solid #c9c9c9;
    background-color: #3e3e3e;
    font-weight: bold;
}

.parser-secondary {
    border: 1px solid #c9c9c9;
    background-color: #2b2b2b;

    transition-property: background-color, box-shadow, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.parser-spacer {
    width: 8px;
    padding: 0px !important;
    border: 1px solid #c9c9c9;
    background-color: #2b2b2b;
}

.parser-highlight {
    outline: 1px solid #75e56d;
    background-color: #293b23;
    box-shadow: 0px 0px 8px #23e116;
    text-shadow: 0px 0px 16px #23e116, 0px 0px 16px #23e116, 0px 0px 16px #23e116;
}

.parser-highlight-invalid {
    outline: 1px solid #e56d6d;
    background-color: #3b2323;
    box-shadow: 0px 0px 8px #e11616;
    text-shadow: 0px 0px 16px #e11616, 0px 0px 16px #e11616, 0px 0px 16px #e11616;
}

.table-complete {
    outline: 1px solid #75e56d;
    box-shadow: 0px 0px 16px #23e116;
    text-shadow: 0px 0px 16px #23e116, 0px 0px 16px #23e116, 0px 0px 16px #23e116;
}

.ast-expand-collapse {
    position: absolute;
    right: -24px;
    width: 24px;
    top: 0;
    bottom: 0;

    /* flex-grow: 0;
    flex-shrink: 0; */
    background-color: #101010;
    border: 1px solid #787878;
    border-style: solid;
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.ast-text {
    margin-top: auto;
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    pointer-events: none;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: bold;

    display: flex;
    flex-direction: row;
}

.ast-icon {
    /* width: 100%; */

    /* text-orientation: sideways; */
    pointer-events: none;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: bold;
    transform: rotate(90deg);
}

.ast-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1818187c;
    backdrop-filter: blur(4px);

    transition: left 0.5s;

    border: 1px solid #787878;
}

.ast-modal-disabled {
    left: 100%;
}


.footer {
    width: 100%;
    /* height: 3rem; */
}

.output-log {
    /* height: 400px; */
    /* position: fixed;
    bottom: 8px;
    left: 0px; */

    width: 100%;
    background-color: #2b2b2b;
    border: 1px solid #787878;
    border-style: solid;
    color: #c9c9c9;
    flex-grow: 0;
    flex-shrink: 0;
}

.disabled {
    display: none;
}
